language: julia

os:
  - linux
  - osx

julia:
  - release
  - nightly

notifications:
  email: false

script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia -e 'Pkg.clone(pwd()); Pkg.build("celerite"); Pkg.test("celerite"; coverage=true)'

# after_success:
#   # push coverage results to Coveralls
#   - julia -e 'cd(Pkg.dir("GenRP")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
#   # push coverage results to Codecov
#   - julia -e 'cd(Pkg.dir("GenRP")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
